<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

    <head>
        <link href="../../resources/css/lib/bootstrap.min.css" rel="stylesheet"/>
        <link href="../../resources/css/authentication.css" rel="stylesheet"/>
    </head>

    <body>

        <div class="login_header"></div>

        <div class="content">

            <div class="login_form_container">

                <!--/*@thymesVar id="authUser" type="ru.jteam.social.network.dto.AuthorizationUser"*/-->
                <form class="login_form" method="post" th:action="@{/login}" th:object="${authUser}">

                    <div class="form_header">Sign in JTeam SN</div>

                    <div>
                        <input class="form_input form-control" name="login" placeholder="Login or email"
                            th:field="*{login}"/>
                    </div>
                    <div>
                        <input class="form_input form-control" name="password" type="password" placeholder="Password"
                            th:field="*{password}">
                    </div>

                    <div class="button_container">
                        <button class="btn btn-outline-success">Sign in</button>
                        <div>
                            <a href="/registration" class="btn btn-link">No account? Sign up!</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </body>

</html>