<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

    <head>
        <link href="../../resources/css/lib/bootstrap.min.css" rel="stylesheet"/>
        <link href="../../resources/css/login.css" rel="stylesheet"/>
    </head>

    <body>

        <div class="login_header"></div>

        <div class="content">

            <div class="login_form_container">

                <div class="form_header"></div>

                <form class="login_form">

                    <div>
                        <input class="form_input" placeholder="email"/>
                    </div>
                    <div>
                        <input class="form_input" placeholder="password">
                    </div>

                </form>
            </div>
        </div>

    </body>

</html>