<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

    <head>
        <link href="../../resources/css/lib/bootstrap.min.css" rel="stylesheet"/>
        <link href="../../resources/css/authentication.css" rel="stylesheet"/>
        <link href="../../resources/css/profile.css" rel="stylesheet"/>
    </head>

    <body>

        <div class="login_header"></div>

        <div id="content">

            <div id="general_info" class="profile_block profile_block_m">
                <div class="edit_icon"></div>

                <div id="profile" class="profile_large center"></div>

                <div class="profile_info center">
                    <div>Login</div>
                    <div></div>
                </div>

                <div class="profile_info center">
                    <div>Name</div>
                    <div></div>
                </div>

                <div class="profile_info center">
                    <div>Last name</div>
                    <div></div>
                </div>

                <div class="profile_info center">
                    <div>Email</div>
                    <div></div>
                </div>

            </div>

            <div class="profile_block profile_block_l">

                <div id="contacts" class="block">

                    <h2>Contacts</h2>
                    <div class="additional_info">
                        <div class="info-line">
                            <div class="info" id="telephone">
                                <div class="title">Telephone</div>
                                <div class="value">+7-921-925-69-18</div>
                            </div>
                            <div class="info" id="telegram">
                                <div class="title">Telegram</div>
                                <div class="value">Shagbarks</div>
                            </div>


                        </div>

                        <div class="info-line">
                            <div class="info" id="linked-in">
                                <div class="title">Linked in</div>
                                <div class="value">www.google.com</div>
                            </div>
                            <div class="info" id="vk">
                                <div class="title">VK</div>
                                <div class="value">/farro11</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="education" class="block">
                    <h2>Education</h2>
                </div>


            </div>

        </div>


    </body>
</html>