<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

    <head>
        <link href="../../resources/css/lib/bootstrap.min.css" rel="stylesheet"/>
        <link href="../../resources/css/authentication.css" rel="stylesheet"/>
    </head>

    <body>

        <div class="login_header"></div>
        <div class="content">

            <div class="login_form_container">

                <!--/*@thymesVar id="userRegistration" type="ru.jteam.social.network.dto.UserRegistration"*/-->
                <form class="login_form" method="post" th:object="${userRegistration}"
                        th:action="@{/registration}" name="registrationDto">

                    <div class="form_header">Sign Up JTeam SN</div>

                    <div>
                        <input class="form_input form-control" type="text" placeholder="Login" th:field="*{login}"
                                th:errorclass="input_error"/>
                        <p class="error-description" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
                    </div>

                    <div>
                        <input class="form_input form-control" type="text" placeholder="Name" th:field="*{name}"
                               th:errorclass="input_error"/>
                        <p class="error-description" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>

                    <div>
                        <input class="form_input form-control" type="text" placeholder="Last name" th:field="*{lastName}"
                               th:errorclass="input_error"/>
                        <p class="error-description" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                    </div>

                    <div>
                        <input class="form_input form-control" type="text" placeholder="Email" th:field="*{email}"
                               th:errorclass="input_error"/>
                        <p class="error-description" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </div>

                    <div>
                        <input type="password" placeholder="Password" th:field="*{password}"
                               th:class="${#fields.hasErrors('global')} ? 'form_input form-control input_error' : 'form_input form-control'"/>
                        <p class="error-description" th:if="${#fields.hasErrors('global')}"
                                th:errors="*{global}"></p>
                    </div>

                    <div>
                        <input type="password" placeholder="Confirm password"
                                th:field="*{passwordConfirmation}"
                                th:class="${#fields.hasErrors('global')} ? 'form_input form-control input_error' : 'form_input form-control'">
                        <p class="error-description" th:if="${#fields.hasErrors('global')}"
                                th:errors="*{global}"></p>
                    </div>

                    <div class="button_container">
                        <button class="btn btn-outline-success" type="submit">Sign up</button>
                    </div>

                </form>
            </div>
        </div>


    </body>


</html>