<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

    <head>
        <link href="../../resources/css/lib/bootstrap.min.css" rel="stylesheet"/>
        <link href="../../resources/css/authentication.css" rel="stylesheet"/>
    </head>

    <body>

        <div class="login_header"></div>
        <div class="content">

            <div class="login_form_container">

                <form class="login_form">

                    <div class="form_header">Sign Up JTeam SN</div>

                    <div>
                        <input class="form_input form-control" placeholder="Login"/>
                    </div>

                    <div>
                        <input class="form_input form-control" placeholder="Name"/>
                    </div>

                    <div>
                        <input class="form_input form-control" placeholder="Email"/>
                    </div>

                    <div>
                        <input class="form_input form-control" type="password" placeholder="Password">
                    </div>

                    <div>
                        <input class="form_input form-control" type="password" placeholder="Confirm password">
                    </div>

                    <div class="button_container">
                        <button class="btn btn-outline-success">Sign up</button>
                    </div>

                </form>
            </div>
        </div>


    </body>


</html>